/* VARIABLES */
:root {
    --brand-primary: #0150EB;
    --brand-secondary: #CD2027;
    --support-color: #1E1E1E;
    --primecolor-contrast: #fff;
    --min-px: 320;
    --max-px: 1920;
    --min-vw: 320;
    --max-vw: 766;
}

/* CSS GENERAL */
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat";
}
p,a,span,li{
    font-family: "Open Sans";
}


.container{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
header .logo {
    width: 100%;
}

header .logo img {
    width: 80%;
}
header .navbar-container {
    width: 100%;;
}
header {
    background: var(--support-color);
    padding: 45px 0px;
}

header .directions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header .directions a {
    display: block;
    color: var(--primecolor-contrast);
    text-decoration: none;
    font-size: 16px;
    transition: .3s;
}

header .directions a:hover {
    color: var(--brand-secondary)
}

header .social-media .fa-brands {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #1877F2;
    transition: .3s;
    color: var(--primecolor-contrast)
}

header .social-media .fa-brands:hover {
    background-color: var(--primecolor-contrast);
    color: #1877F2;
}

header .directions .phone{ 
    font-weight: 700;
}


.btn {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    width: 180px;
    height: 40px;
    background: var(--brand-primary);
    text-transform: uppercase;
    font-family: "Open Sans";
    color: #fff;
    font-size: 15px;
    transition: .3s;
}

.btn:hover {
    background-color: var(--brand-secondary);
    color: #fff!important;
}

header .navbar nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 3%;
}

header .navbar nav a {
    color: var(--primecolor-contrast);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
}
header .navbar nav a:hover {
    color: var(--brand-secondary);
    border-bottom:  3px solid var(--brand-secondary);
}


.desktop-nav {
    display: none!important;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--primecolor-contrast);
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

nav.open{
    display: grid!important;
}

.hero-shot{
    padding: 20% 0%;
    background-image: url("../images/main/hero-shot.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-shot .title span {
    display: block;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 0px;
}

.hero-shot .title .line-1,.hero-shot .title .line-3 {
    font-size: 20px;
}

.hero-shot .title .line-2 {
    font-size: 30px;
    font-family: "Oswald";
}

.ctas {
    padding: 10% 0;
    background: var(--support-color);
}

.ctas .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.ctas .cta-container{
    margin: 0 30px;
}

.ctas .cta-container img {
    width: 100%;
    transition: .3s;
}

.ctas .cta-container span {
    color: var(--primecolor-contrast);
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Oswald";
    margin-top: 30px;
    display: block;
    text-align: center;
    transition: .3s;
}

.ctas .cta-container a{
    text-decoration: none;
}

.ctas .cta-container a:hover span {
    color: var(--brand-secondary);
}

.ctas .cta-container a:hover img {
    filter: brightness(.50);
}

.welcome {
    padding: 10% 0%;
    background-image: url("../images/main/welcome.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.welcome h1 {
    color: var(--primecolor-contrast);
    text-transform: uppercase;
    font-size: 30px;
}
.welcome h3 {
    color: var(--primecolor-contrast);
    text-transform: uppercase;
    font-size: 25px;
}
.welcome p {
    color: var(--primecolor-contrast);
    font-size: 18px;
}

.welcome .container {
    background: #000000a6;
    padding: 5%;
}


footer {
    padding: 10% 0%;
    background-color: var(--support-color);
    text-align: center;
}

footer .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer h3 {
    color: var(--primecolor-contrast);
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

footer .phone {
    margin-bottom: 15px;
}

footer a {
    color: var(--primecolor-contrast);
    font-size: 16px;
    text-decoration: none;
    transition: .3s;
}

footer a:hover {
    color: var(--brand-secondary);
}


footer .hours ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

footer .hours ul li {
    color: var(--primecolor-contrast);
    font-size: 16px;
    margin-bottom: 10px;
}