@media screen and (min-width: 768px){
    header .logo {
        width: 50%;
        margin: 30px auto;
    }
    header .navbar-container {
        width: 100%;;
    }
    .mobile-menu {
        display: none;
    }

    .desktop-nav {
        display: flex!important;
    }
    #menu{
        display: none;
    }
}
@media screen and (min-width: 992px){
    .container{
        width: 902px;
    }
}
@media screen and (min-width: 1200px){
    .container{
        width: 1170px;
    }
    .btn {
        width: 224px;
        height: 50px;
    }
    header .logo {
        width: 30%;
        margin: 0;
    }
    header .navbar-container {
        width: 70%;;
    }
}
@media screen and (min-width: 1530px){
    .container{
        width: 1500px;
    }
}