
@media screen and (min-width: 992px){
    .container{
        width: 902px;
    }
}
@media screen and (min-width: 1200px){
    .container{
        width: 1170px;
    }
    .btn {
        width: 224px;
        height: 50px;
    }
    header .logo {
        width: 30%;
        margin: 0;
    }
    header .navbar-container {
        width: 70%;;
    }
    footer .container {
        justify-content: space-between;
    }
}
@media screen and (min-width: 1530px){
    .container{
        width: 1500px;
    }
}