/* VARIABLES */
:root {
    --brand-primary: #f1b85b;
    --brand-secondary: #322e29;
    --support-color: #275657;
    --primecolor-contrast: #fff;
    --min-px: 320;
    --max-px: 1920;
    --min-vw: 320;
    --max-vw: 766;
}

/* CSS GENERAL */
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat";
}
p,a,span,li{
    font-family: "Open Sans";
}

.container{
    padding-left: 4%;
    padding-right: 4%;
}

header {
    background-color: var(--brand-primary);
}

header .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 30px 15px;
}

header .container .logo a img {
    width: 100%;
}

header .container .logo {
    width: 100px;
}

header .container .logo a:hover {
    opacity: .8;
}

header .container .social-media ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header .container .social-media ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    background: var(--brand-secondary);
    border-radius: 100%;
    text-decoration: none;
    transition: .3s;
}

header .container .social-media ul li a:hover {
    background-color: var(--support-color);
}

header .container .social-media ul li a .fa-brands {
    color: var(--primecolor-contrast);
}
.navbar-container {
    width: 100%;
}

header .navbar-container nav a {
    color: var(--brand-secondary);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
    margin: 0px 10px;
    position: relative;
    color: var(--primecolor-contrast);
}

.navbar-container nav {
    display: none;
}

.navbar-container nav.open{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    background-color: var(--brand-secondary);
    margin-top: 5%;
    padding: 5%;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--brand-secondary);
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

/* MAIN */

/* HERO SHOT VIDEO */

.hero-shot {
    position: relative;
    padding: 12% 0%;
    background-image: url("../images/hero-shot-sunshine-valley.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-shot .container .line-1{
    display: block;
    color: var(--primecolor-contrast);
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Montserrat";
    letter-spacing: 0.05em;
    text-align: center;
    margin-bottom: 3%;
}
.hero-shot .container .line-2{
    display: block;
    color: var(--primecolor-contrast);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-align: center;
}


/* CTAS */
.ctas {
    padding: 10% 0%;
}

.ctas .container{
    display: grid;
    gap: 20px;
}

.cta-1, .cta-2, .cta-3 {
    grid-column: span 3;
}

.ctas .container a {
    display: block;
    position: relative;
    text-decoration: none;
    transition: .3s;
}

.ctas .container a:hover {
    opacity: .5;
}

.ctas .container a:hover span {
    letter-spacing: 0.3em;
}

.ctas .container a img {
    width: 100%;
}

.ctas .container a span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0%;
    z-index: 1;
    color: var(--primecolor-contrast);
    background-color: var(--support-color);
    text-transform: uppercase;
    font-size: 25px;
    transition: .3s;
}


/* SLIDER SECTION */

.slider-section{
    padding: 10% 0%;
    background-color: var(--brand-secondary);
}

.slider-section .carousel-container {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slider-section .carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
}

.slider-section .carousel-slide img {
    width: 100%;
    height: auto;
}

.slider-section .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
}

.slider-section .prev-btn {
    left: 0;
}

.slider-section .next-btn {
    right: 0;
}

.slider-section .title h3 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.050em;
    color: var(--primecolor-contrast);
}

.slider-section .title h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--brand-primary);
    margin-top: 2%;
}


/* Welcome */
.welcome {
    padding: 10% 0%;
    text-align: center;
}
.welcome .img-container img {
    width: 100%;
}

.welcome .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.welcome h1 {
    font-size: 30px;
    text-transform: uppercase;
}

.welcome h1::after{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--support-color);
    margin-top: 2%;
}


/* Footer */

footer {
    background-color: var(--brand-primary);
    padding: 10% 0%;
}

footer .logo{
    text-align: center;
}

footer .logo img {
    width: 50%;
}

footer .container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

footer h3 {
    color: var(--brand-secondary);
    text-transform: uppercase;
    letter-spacing: 0.050em;
    font-size: 30px;
    text-align: center;
}

footer .social-media ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container .social-media ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    background: var(--brand-secondary);
    border-radius: 100%;
    text-decoration: none;
    transition: .3s;
}

footer .container .social-media ul li a:hover {
    background-color: var(--support-color);
}

footer .container .social-media ul li a .fa-brands {
    color: var(--primecolor-contrast);
}

footer .link {
    text-align: center;
}

footer .link a{
    color: var(--brand-secondary);
    text-decoration: none;
    display: block;
    font-size: 25px;
    transition: .3s;
    padding: 5px;
    font-weight: 600;
}

footer .link a:hover {
    color: var(--support-color);
}


/* DARK MODE */
.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.dark-mode-toggle input[type="checkbox"] {
    display: none;
}

.dark-mode-toggle label {
    display: block;
    width: 50px;
    height: 26px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.dark-mode-toggle label::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    top: 2px;
    left: 2px;
    transition: 0.3s;
}

.dark-mode-toggle input[type="checkbox"]:checked + label::before {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

body.dark-mode {
    background-color: #000;
    color: #fff;
}

/* Discover Page */
/* Sidebar */
.sidebar {
    grid-area: sidebar;
    background-color: #f0f0f0;
    padding: 20px;
}

.sidebar-content {
    text-align: justify;
}

.sidebar h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.sidebar p {
    color: #555;
    font-size: 1em;
    line-height: 1.5;
}

/* Main Content */
.main-content {
    grid-area: main;
    padding: 20px;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.image-gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s;
}

.image-gallery img:hover {
    transform: scale(1.05);
}



/* JOIN PAGE STYLES */
/* Estilos para el formulario */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para la barra lateral con los beneficios de los niveles de membresía */
.sidebar {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sidebar h3 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 5px;
}

/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

main {
    overflow: hidden; /* Clear floats */
}

.main-content {
    padding: 20px;
}




/* DIRECTORY PAGE */


.main-directory {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.view-toggle {
    text-align: center;
    margin-bottom: 1rem;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
    grid-gap: 20px;
}

.list-view .member {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.list-view .member img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.phone-link {
    display: block;
}

#members-container img {
    width: 100%;
}

.member{
    text-align: center;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .grid-view #members-container {
        grid-template-columns: 1fr;
    }
}



/* WEATHERR */

.weather-banner {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.weather-data {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.temperature,
.description {
    flex: 1;
}

.forecast {
    flex: 2;
    text-align: left;
    margin-top: 20px;
}

.forecast h3 {
    margin-bottom: 10px;
}

.forecast ul {
    list-style-type: none;
    padding: 0;
}

.forecast li {
    margin-bottom: 5px;
}
