@media screen and (min-width: 768px) {
    .container {
        width: 750px;
        margin: 0 auto;
    }
    .toggle-menu-container{
        display: none;
    }
    .navbar-container nav {
        display: block;
    }
    header .container .logo {
        width: 150px;
    }    
    header .container{
        flex-wrap: wrap;
    }
    header .navbar-container nav a{
        color: var(--brand-secondary);
    }
    header .navbar-container nav a::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 0;
        height: 5px;
        background-color: var(--support-color);
        transition: .3s;
    }
    
    header .navbar-container nav a:hover {
        color: var(--support-color)
    }
    
    header .navbar-container nav a:hover::before{
        width: 100%;
    }
    .navbar-container {
        width: auto;
    }
    .hero-shot .container .line-1{
        font-size: 40px;
    }
    .hero-shot .container .line-2{
        font-size: 30px;
    }

    .ctas {
        padding: 5% 0%;
    }

    .ctas .container {
        display: flex;
        justify-content: space-around;
    }
    .slider-section {
        padding: 5% 0%;
    }
    .slider-section .title h3 {
        font-size: 50px;
    }
    .welcome{
        padding: 5% 0%;
    }
    .welcome h1 {
        font-size: 40px;
    }
    .welcome p {
        font-size: 20px;
    }

    footer {
        padding: 5% 0%;
    }

    footer .container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 992px) {
    .container {
        width: 950px;
        margin: 0 auto;
    }
    .slider-section .title h3 {
        font-size: 60px;
    }
    .slider-section .carousel-container{
        height: 750px;
    }
    .welcome .container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    footer h3 {
        font-size: 35px;
    }
}






