:root {
    --brand-primary: #005083;
    --brand-secondary: #000;
    --brand-thirdary: #0392ff;
    --primecolor-contrast: #fff;
}
@media screen and (min-width: 768px) {
    nav{
        display: flex;
        justify-content: space-between;
    }
    nav a:hover {
        background-color: var(--brand-thirdary);
    }
}
@media screen and (min-width: 992px) {
    main{
        grid-template-columns: 1fr 1fr;
    }
}