:root {
    --brand-primary: #005083;
    --brand-secondary: #000;
    --brand-thirdary: #0392ff;
    --primecolor-contrast: #fff;
}
@media screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: center;
        padding: 3%;
    }
    header h1 {
        font-size: 25px;
    }
    header .img-container {
        width: 100px;
        margin-right: 4%;
        box-shadow: 0px 0px 5px #000;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    nav a:hover {
        background-color: var(--brand-thirdary);
    }
    
    .map-container {
        height: initial;
    }

    .map-container iframe {
        height: 270px;
    }

    footer {
        display: flex;
        justify-content: space-around;
    }
}
@media screen and (min-width: 992px) {
    .card-container{
        grid-template-columns: 1fr 1fr;
    }
    .card-container .card {
        box-shadow: 0px 0px 5px #8b8b8b;
    }
    header h1 {
        font-size: 35px;
    }
}

@media screen and (min-width: 1200px){
    .map-container iframe {
        height: 500px;
    }
}